html,body{
    margin: 0;
    padding: 0;
    height: 100%;
}
#app{
    height: 100%;
}
div{
    box-sizing: border-box;
}
.el-header{
    background-color: #545c64;
    color: white;
}
.el-container{
    height: 100%;
}
.el-aside{
    background-color: #545c64;
}
.el-menu{
    border-right: none;
}